
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}
/* Navigation Bar Styles */
.navbar {
    background-color: #d0bbbb;
    overflow: hidden;
    display: flex;
    padding: 0.5em 1em;
}
.navbar a {
    color: white;
    text-decoration: none;
    padding: 14px 20px;
    text-align: center;
}
.navbar a:hover {
    background-color: #575757;
    border-radius: 5px;
}
/* Section Styles */
section {
    padding: 20px;
    margin: 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
}
#section1 { background-color: #e0f7fa; }
#section2 { background-color: #ffe0b2; }
#section3 { background-color: #dcedc8; }
